In [2]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple  in python

# (i) String
my_string = "Hello, World!"

# (ii) List
my_list = [1, 2, 3, 4, 5]

# (iii) Float
my_float = 3.14

# (iv) Tuple
my_tuple = (1, "two", 3.0, [4, 5])

In [ ]:
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.



In Python, the data types of the given variables are as follows:

(i) var1 is a string variable. The data type of var1 is str.

(ii) var2 is a string variable. The data type of var2 is also str. The value assigned to var2 is a string representation of a list, but it is still stored as a string.

(iii) var3 is a list variable. The data type of var3 is list. It contains three string elements.

(iv) var4 is an integer variable. The data type of var4 is int. It stores the value 1, which is an integer.

To summarize:

var1 is a string (str).
var2 is a string (str).
var3 is a list (list).
var4 is an integer (int).

In [10]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) ** in python

# (i) / (Division Operator):
# The division operator / is used to perform division between two numbers in Python. It returns the quotient of the division as a floating-point number.
a = 10
b = 3

result = a / b
print(result)
# In the above example, a is divided by b, and the result is 3.3333333333333335, which is a floating-point number.

# (ii) % (Modulo Operator):
# The modulo operator % is used to find the remainder of the division between two numbers in Python.

a = 10
b = 3

result = a % b
print(result)
# In the above example, a is divided by b, and the remainder is 1.

# (iii) // (Floor Division Operator):
# The floor division operator // is used to perform integer division between two numbers in Python. It returns the quotient without the decimal part, rounded down to the nearest integer.

a = 10
b = 3

result = a // b
print(result)
# In the above example, a is divided by b, and the result is 3, which is the integer part of the division without the decimal.

# (iv) ** (Exponentiation Operator):
# The exponentiation operator ** is used to raise a number to a power in Python.
c = 2
d = 3

result = c ** d
print(result)
# In the above example, a raised to the power of b is 8.

# These operators are commonly used in mathematical operations and calculations in Python.

3.3333333333333335
1
3
8

In [14]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

my_list = [10, "Hello", 3.14, True, [1, 2, 3], {"name": "John", "age": 25}, (1, 2, 3), None, 'A', False]

for element in my_list:
    print(element, " - ", type(element))

# In the above example, we have created a list called my_list with elements of different types, including integers, strings, floats, booleans, lists, dictionaries, tuples, None, and characters. The for loop iterates over each element in the list, and type(element) is used to determine the data type of each element. The element and its corresponding data type are printed on each iteration of the loop.

10  -  <class 'int'>
Hello  -  <class 'str'>
3.14  -  <class 'float'>
True  -  <class 'bool'>
[1, 2, 3]  -  <class 'list'>
{'name': 'John', 'age': 25}  -  <class 'dict'>
(1, 2, 3)  -  <class 'tuple'>
None  -  <class 'NoneType'>
A  -  <class 'str'>
False  -  <class 'bool'>

In [15]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.




A = 120
B = 4

count = 0

while A % B == 0:
    A = A / B
    count += 1

print("Number of times", B, "can divide", A, "is", count)



# In the above example, we have initialized A to be 120 and B to be 4. The while loop checks if A is divisible by B (i.e., A % B == 0). If it is, A is divided by B and the count is incremented. This process continues until A is no longer divisible by B. Finally, the number of times B can divide the resulting value of A is printed.

# In this case, 4 can divide 120 three times, resulting in the value 1.25.

Number of times 4 can divide 30.0 is 1

In [17]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.


my_list = [5, 12, 8, 9, 15, 21, 30, 14, 18, 25, 27, 33, 40, 47, 51, 54, 60, 66, 72, 78, 81, 88, 91, 99, 105]

for element in my_list:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

5 is not divisible by 3
12 is divisible by 3
8 is not divisible by 3
9 is divisible by 3
15 is divisible by 3
21 is divisible by 3
30 is divisible by 3
14 is not divisible by 3
18 is divisible by 3
25 is not divisible by 3
27 is divisible by 3
33 is divisible by 3
40 is not divisible by 3
47 is not divisible by 3
51 is divisible by 3
54 is divisible by 3
60 is divisible by 3
66 is divisible by 3
72 is divisible by 3
78 is divisible by 3
81 is divisible by 3
88 is not divisible by 3
91 is not divisible by 3
99 is divisible by 3
105 is divisible by 3

In [20]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In Python, data types can be categorized as either mutable or immutable based on whether their values can be changed after they are created.

Immutable Data Types:
Immutable data types are those whose values cannot be modified after they are created. If you try to modify an immutable object, a new object will be created with the updated value.

Examples of immutable data types in Python include:

int (integer)
float (floating-point number)
str (string)
tuple
frozenset


# string = "Hello"

# # Attempt to modify the string
# string[0] = "W"  # Raises a TypeError: 'str' object does not support item assignment

# print(string)


In the above example, we attempt to modify the first character of the string "Hello" by assigning a new value to string[0]. However, this operation raises a TypeError because strings are immutable in Python.

Mutable Data Types:
Mutable data types, on the other hand, allow for modifications to their values after they are created. This means that the object itself can be modified without creating a new object.

Examples of mutable data types in Python include:

list
dict (dictionary
set
Here's an example demonstrating the mutability of the list data type:
      

my_list = [1, 2, 3]

# Modify the list by appending a new element
my_list.append(4)

print(my_list)

SyntaxError: unterminated string literal (detected at line 36) (1391735227.py, line 36)