In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.


import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
# Q3. Create a Pandas DataFrame that contains the following data:


# Q3. Create a Pandas DataFrame that contains the following data:


# Name     |  Age   |    Gender
# Alice    |  25    |    Female
# Bob      |  30   |    Male
# Claire   |  27   |    Female
# then print the data frame


import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [5]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.



# In pandas, a DataFrame is a two-dimensional labeled data structure that consists of columns and rows. It can be thought of as a table or spreadsheet-like data structure where each column can have a different data type (e.g., numeric, string, boolean) and rows are labeled with an index. DataFrames provide a convenient way to manipulate and analyze structured data.

# On the other hand, a Series is a one-dimensional labeled array-like object in pandas. It is similar to a column in a DataFrame or a single column extracted from a DataFrame. Each element in a Series has an associated label called the index.

# Here's an example to illustrate the difference between a DataFrame and a Series:

# ```python
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 27])

print("DataFrame:")
print(df)
print()
print("Series:")
print(ages)




# In the example above, we create a DataFrame `df` with three columns: 'Name', 'Age', and 'Gender'. Each column can hold different data types. The DataFrame has an index (0, 1, 2) that labels the rows.

# We also create a Series `ages` which only contains the 'Age' column from the DataFrame. The Series has only one column and the elements are associated with their respective index labels (0, 1, 2).

# So, the main difference is that a DataFrame is a two-dimensional structure consisting of multiple columns and rows, while a Series is a one-dimensional structure representing a single column with associated index labels.

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
dtype: int64

In [9]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?



# Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions:

# 1. `head()`: Returns the first n rows of the DataFrame. It is useful for quickly inspecting the data.
   
df.head(5)  # Returns the first 5 rows of the DataFrame
   

# 2. `tail()`: Returns the last n rows of the DataFrame. It is useful for quickly inspecting the end of the data.
   
df.tail(3)  # Returns the last 3 rows of the DataFrame
   

# 3. `info()`: Provides a summary of the DataFrame, including the column names, data types, and memory usage.
   
df.info()  # Displays information about the DataFrame
   

# 4. `describe()`: Generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum.
   
df.describe()  # Generates summary statistics of the DataFrame
   

# 5. `value_counts()`: Returns a Series with the counts of unique values in a column. It is useful for understanding the distribution of categorical data.
   
df['Gender'].value_counts()  # Returns the counts of unique values in the 'Gender' column
   

# 6. `sort_values()`: Sorts the DataFrame by one or more columns.
   
df.sort_values('Age')  # Sorts the DataFrame by the 'Age' column in ascending order
   

# 7. `groupby()`: Groups the DataFrame by one or more columns and allows you to perform aggregate functions on the groups.
   
df.groupby('Gender')['Age'].mean()  # Calculates the average age for each gender
   

# 8. `drop()`: Removes specified rows or columns from the DataFrame.
   
df.drop('Gender', axis=1)  # Drops the 'Gender' column from the DataFrame
   

# These are just a few examples of the functions available in pandas for manipulating data in a DataFrame. The choice of function depends on the specific data manipulation task you want to perform, such as data exploration, cleaning, filtering, aggregating, or transforming the data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

In [ ]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?



# In pandas, both Series and DataFrame are mutable in nature, meaning they can be modified after they are created. However, Panel is no longer recommended for most use cases and has been deprecated since pandas version 0.20.0. Panels were three-dimensional data structures, and they were mutable as well. 

# To summarize:
# - Series: Mutable
# - DataFrame: Mutable
# - Panel: Deprecated (Not recommended for use)

# It's worth noting that while Series and DataFrame are mutable, it's generally recommended to avoid modifying them in-place and instead perform operations that create new Series/DataFrame objects. This approach helps maintain data integrity and avoids unexpected side effects.

In [10]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.


import pandas as pd

# Create the Series objects
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Create the DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female